<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Userlist</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<h1>Userlist</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
        <th>cards</th>
    </tr>
    <tr th:each="user, state : ${userlist}">
        <td th:utext="${user.getId}">id</td>
        <td th:utext="${user.getFirstName}">firstname</td>
        <td th:utext="${user.getLastName}">lastname</td>
        <td th:utext="${user.getEmail}">email</td>

        <td>
            <form th:method="GET" th:action="@{/users/{id} (id=${user.getId()})}">
                <button th:id="button10" type="submit">
                    <i>to Card</i>
                </button>
            </form>
        </td>
    </tr>
</table>
<br/>
<a th:href="@{/users/new}">add</a>

</body>
</html>
</html>